<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>



<div class="card card-rounded" style="width: 18rem;">
  <img class="card-img-top" src="https://kitt.lewagon.com/placeholder/cities/random" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<br>

<div class="card-product">
  <%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ex porro provident dolor quos praesentium earum voluptates quidem! Consequatur rem ipsa eveniet minus aspernatur nam blanditiis rerum tenetur dolores laboriosam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, corrupti tempore amet vel fuga unde voluptatum sed aperiam eum harum eius voluptatibus laudantium beatae itaque vero et ea architecto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae quis quibusdam aperiam explicabo, nam in aliquid enim dolorem quod omnis quae obcaecati nihil dicta ad ipsa esse, aliquam officiis!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quis voluptatum sapiente culpa sed neque, corporis est esse molestiae, omnis animi placeat iure. Vitae, voluptatem aperiam at aut cumque autem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id laborum voluptatem natus modi, esse nobis, labore, dolor earum debitis voluptates eligendi suscipit architecto ab magni sint officia praesentium saepe.
